
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_User.cshtml";
}
<h2>   </h2>
<div class="container">
    <div class="work-main">
        <div class="work-top">
            <h3>Our Services</h3>
            <p>Lorem ipsum dolor sit amet,vehicula vel sapien et</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-media"> <img src="@Url.Content("~/Content/mytemplate/")images/room.jpg" alt=" " height="200px" width="350px"> </div><br>
                <span class="" aria-hidden="true"></span>
                <div class="service-desc">
                    <h3>Room Booking</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"> <img src="@Url.Content("~/Content/mytemplate/")images/table.jpg" alt=" " height="200px" width="350px"> </div><br>
                <span class="" aria-hidden="true"></span>
                <div class="service-desc">
                    <h3>Table Booking</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-media"> <img src="@Url.Content("~/Content/mytemplate/")images/wedding.jpg" alt=" " height="200px" width="350px"> </div><br>
                <span class="" aria-hidden="true"></span>
                <div class="service-desc">
                    <h3>Wedding Hall Booking</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-media"> <img src="@Url.Content("~/Content/mytemplate/")images/Conference.jpg" alt=" " height="200px" width="350px"> </div><br>
                <span class="" aria-hidden="true"></span>
                <div class="service-desc">
                    <h3>Conference Hall Booking</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                </div>
            </div>
        </div>
    </div>
</div>

