@model IEnumerable<trytry.Models.City>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate1.cshtml";
}

<div class="container">
    <h2 class="text-center">Cities</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-bottom:25px">
            <div class="thumbnail">
                <div class="image" style="margin-bottom:20px">
                    <img class="img-responsive" src="@Url.Content(item.image)" height="350" width="240" />
                </div>
                <div class="caption" style="border-top:3px solid #808080">
                    <h3><a href="@Url.Action("SHOW_HOTEL", "Home", new {@cityname=@item.CityName})">@item.CityName</a></h3>
                </div>
            </div>
        </div>
    }
</div>